@import "leaflet/dist/leaflet.css";
@import "leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";
@import "leaflet-defaulticon-compatibility";

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	background-color: red;
	color: #fff;
}

.fade-anim img {
	animation: fadeAnim 0.5s ease-out;
}


@keyframes fadeAnim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}







@tailwind base;
@tailwind components;
@tailwind utilities;
